<h1 class="welcome-banner">Welcome to CSE Motors!</h1>

<section class="hero">
  <div class="hero-info">
    <h2><a href="/cars/delorean" class="hero-title">DMC Delorean</a></h2>
    <ul class="hero-features">
      <li>3 Cup holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice!</li>
    </ul>
    <a class="cta" href="/cars/delorean">
      <img src="/images/site/own_today.png" alt="Own Today">
    </a>
  </div>
  <div class="hero-image">
    <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
  </div>
</section>

<section class="reviews">
  <h3>DMC Delorean Reviews</h3>
  <ul>
    <li>"So fast it's almost like traveling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly!" (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"'80s livin and I love it!" (5/5)</li>
  </ul>
</section>

<section class="upgrades">
  <h3>Delorean Upgrades</h3>
  <div class="upgrades-grid">
    <article class="upgrade">
      <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
      <a href="/upgrades/flux">Flux Capacitor</a>
    </article>
    <article class="upgrade">
      <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
      <a href="/upgrades/flame">Flame Decals</a>
    </article>
    <article class="upgrade">
      <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
      <a href="/upgrades/bumper">Bumper Stickers</a>
    </article>
    <article class="upgrade">
      <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
      <a href="/upgrades/hubcaps">Hub Caps</a>
    </article>
  </div>
</section>
