<!-- ./src/views/inventory/detail.ejs -->
<% if (typeof htmlData !== 'undefined' && htmlData) { %>
  <%- htmlData %>
<% } else { %>
  <div class="error-container">
    <h2>Vehicle Not Found</h2>
    <p>Sorry, the requested vehicle could not be found.</p>
    <a href="/inv" class="btn">Browse Inventory</a>
  </div>
<% } %>